/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, em, img,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, label, input, textarea, select, button,
table, caption, thead, tbody, tfoot, tr, th, td {
  border: none;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video { display: block; }
h1, h2, h3, h4, h5, h6 { line-height: normal; font-weight: normal; }
address, cite, code, em, strong { font-style: normal; font-weight: normal; }
ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select, button { display: block; resize: none; }
img { display: block; max-width: 100%; }
html { height: 100%; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* clearfixes */
.clear:after,
.wrapper:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

/* fonts
font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Abel', sans-serif;
*/

/* ============== content styles ================== */
body{
	background: url(../media/grey-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
	font-family: 'Abel', sans-serif;
	letter-spacing: 0.01em;
}
#container{
	position:relative;
	width:86%;
	margin:50px auto;
	background-color: rgba(0,0,0,0.4);
}
.vid-wrapper{
	padding:50px 80px 15px 80px;
	background-color:#000;
}
.text{
	padding: 25px 80px;
}
.date{
	padding-top:15px;
}
video{
	width:100%;
	height:auto;
}
h1{
	font-family: 'Play', sans-serif;
	font-size: 5em;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 5px;
}
h2{
	font-size: 1.6em;
	letter-spacing: 0.16em;
}
h3{
	font-size:2em;
}
p{
	font-size:1.2em;
}